body{
    background-color: white;
}

.is-danger {
    background-color: #1A8CEE;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    border-color: #1A8CEE;
    
}

.is-danger:hover{
    background-color: #0E6BF2;
}